<?xml version="1.0" encoding="utf-8"?>
<manifest package="ddw.com.richang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 其他 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->

    <application
        android:name=".app.RiChangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--2.0修改activity-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aUanWcbe6IgDbNmixncUmKL8uhdsrCAA" />



        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.GuideActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--2.0modify-->
        <activity
            android:name=".Activity.pre.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".Activity.banner.ChooseCity"
            android:label="@string/title_activity_choose_city"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".Activity.banner.ChooseTag"
            android:label="@string/title_activity_choose_tag"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.banner.SetPlan"
            android:label="@string/title_activity_set_plan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.banner.Setting"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.banner.Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.activities.Content"
            android:label="@string/title_activity_content"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.activities.MoreContent"
            android:label="@string/title_activity_more_content"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.activities.ActivityList"
            android:label="@string/title_activity_activity_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.myAccount.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.myAccount.FeedBack"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.myAccount.ChangeSomething"
            android:label="@string/title_activity_change_something"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.banner.Planhint"
            android:label="@string/title_activity_planhint"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.banner.PlanInfo"
            android:label="@string/title_activity_plan_info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.activities.Photo"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.egg.LogoEgg"
            android:label="@string/title_activity_logo_egg"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activity.egg.OnShake"
            android:label="@string/title_activity_on_shake"
            android:screenOrientation="portrait"
            android:theme="@style/onshake">
        </activity>

        <service
            android:name=".service.Vibration"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.AlarmPlan"
            android:enabled="true"
            android:exported="true">
        </service>

        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105285488"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".controller.shareSDK.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".Activity.pre.Resetpasswd"
            android:label="@string/title_activity_resetpasswd">
        </activity>
    </application>

</manifest>
